[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
"e1839a8" = {path = ".", editable = true}
"jinja2" = "*"

[dev-packages]
pytest = "*"
pylama = "*"
httpretty = "*"

[requires]
python_version = "3.6"
